{% extends "base.html" %}
{% block content %}
        <h1><center>Blog Posts!</center></h1>
        <br>
        <form action="/blog">
            <ul>
                {% for post in posts %}
                <h2><a href="/blog?id={{post.id}}">{{post.title}}</a></h2> 
                <p>{{post.text}}</p>
                <br>
                <h5>written by <a href="/blog?user={{post.owner.username}}">{{post.owner.username}}</a></h5>
                <hr>
                {% endfor %}
            </ul>
        </form>
{% endblock %}